/*
    style.css

    Project : Session project
    Course : GLO-7009 - Software security
    Team : Team 2
    Session : Winter 2024
    University : Laval University
    Version : 1.0
*/

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: #000;
    background-color: #F4F4F4;
}

@media print {
    body {
        background-color: #FFF;
    }
}

h1, h2, h3 {
    margin-bottom: 15px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid #E3E3E3;
}

button {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background-color: #D9D9D9;
}

button:hover {
    background-color: #E3E3E3;
}

button:focus {
    background-color: #C7C7C7;
}

.text-right {
    text-align: right !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

@media print {
    hr {
        border-color: #000;
    }

    button {
        border: 1px solid #000;
    }
}

.dropify-wrapper {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 3px;
    border-color: #E3E3E3;
    color: #959595;
}

.dropify-wrapper:has(> .invalid) {
    border-color: #E30513;
}

.dropify-wrapper .file-icon,
.dropify-wrapper .dropify-preview .dropify-render i {
    color: #959595 !important;
}

.dropify-wrapper .dropify-clear {
    padding: 2px 12px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

.dropify-wrapper .dropify-preview .dropify-render .dropify-extension {
    font-size: 14px;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
    font-size: 16px;
}

@media print {
    .dropify-wrapper {
        border: 1px solid #000;
    }
}

.topbar {
    position: fixed;
    height: 75px;
    width: 100vw;
    padding-top: 8px;
    display: -webkit-box;
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid #E3E3E3;
    background-color: #FFF;
}

.topbar::before, .topbar::after {
    content: '';
    position: absolute;
    top: 0;
    height: 8px;
    width: 100%;
    display: block;
}

.topbar::before {
    left: 0;
    width: 100%;
    background-color: #E30513;
}

.topbar::after {
    right: 0;
    width: 20%;
    background-color: #FFC103;
}

.topbar .left {
    width: 270px;
    padding: 0 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #E3E3E3;
    color: #000;
    background-color: #FFF;
}

.topbar .left .logo {
    height: 45px;
    margin-top: 4px;
}

.topbar .left .separator {
    height: 29px;
    width: 1px;
    background-color: #000;
}

.topbar .right {
    width: calc(100vw - 270px);
    padding: 0 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

@media print {
    .topbar {
        position: relative;
        padding-top: 0;
        border-color: #000;
    }

    .topbar::before, .topbar::after {
        content: none;
    }

    .topbar .left {
        border-color: #000;
    }

    .topbar .left .separator {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.sidebar {
    position: fixed;
    top: 75px;
    left: 0;
    bottom: 0;
    height: calc(100dvh - 76px);
    width: 270px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    border-right: 1px solid #E3E3E3;
    background-color: #FFF;
}

.sidebar .navigation {
    margin-bottom: 20px;
}

.sidebar .navigation .category {
    position: relative;
    padding: 20px 20px 15px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #696969;
}

.sidebar .navigation .category::after {
    content: '';
    position: absolute;
    top: calc(50% + 3px);
    width: 100%;
    margin-left: 10px;
    border-top: 1px dashed #696969;
}

.sidebar .navigation .item a {
    position: relative;
    padding: 15px 20px;
    display: block;
    white-space: nowrap;
    color: #000;
}

.sidebar .navigation .item a::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 20px;
    height: 11px;
    width: 6px;
    background-image: url("../images/arrow.svg");
    background-size: 6px;
    background-repeat: no-repeat;
}

.sidebar .navigation .item a:hover {
    background-color: #E7E7E7;
}

.sidebar .navigation .item a.active {
    font-weight: bold;
    background-color: #D9D9D9;
}

@media print {
    .sidebar {
        display: none;
    }
}

.container {
    position: fixed;
    top: 75px;
    left: 270px;
    height: calc(100dvh - 140px);
    width: calc(100vw - 270px);
    padding: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container:not(:has(> .vulnerability)) {
    overflow-x: hidden;
    overflow-y: auto;
}

.container a {
    font-weight: bold;
    color: #E30513;
}

.container a:hover {
    color: #E30513;
}

.container .error {
    color: #E30513;
}

.container article section p:not(:last-child) {
    margin-bottom: 10px;
}

.container article pre[class*="language-"],
.container article code[class*="language-"] {
    font-size: 16px;
}

.container article pre[class*="language-"] {
    margin: 0;
}

.container article pre[class*="language-"]:not(:last-child) {
    margin-bottom: 10px;
}

.container article :not(pre) > code[class*="language-"],
.container article pre[class*="language-"] {
    border: 1px solid #E3E3E3;
    background-color: #F4F4F4;
}

.container article .list li {
    position: relative;
    padding-left: 30px;
}

.container article .list li::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 13px;
    height: 11px;
    width: 6px;
    display: inline-block;
    background-image: url("../images/arrow.svg");
    background-size: 6px;
    background-repeat: no-repeat;
}

.container .welcome section:not(:last-child) {
    margin-bottom: 20px;
}

.container .welcome .vulnerability .navigation {
    margin-bottom: 0;
}

.container .welcome .vulnerability .navigation li a:hover {
    background-color: #FFF;
}

.container .welcome .vulnerability .navigation li a p {
    font-size: 16px;
    text-align: center;
}

.container .welcome .vulnerability .navigation li a p strong {
    margin-bottom: 15px;
    font-size: 18px;
}

.container .vulnerability {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container .vulnerability .navigation {
    margin-bottom: 20px;
    display: -webkit-box;
    display: flex;
    border: 1px solid #E3E3E3;
}

.container .vulnerability .navigation li {
    position: relative;
    width: 25%;
}

.container .vulnerability .navigation li:not(:last-child) {
    border-right: 1px solid #E3E3E3;
}

.container .vulnerability .navigation li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: calc(50% - 30px);
    right: -30px;
    height: 60px;
    width: 60px;
    pointer-events: none;
    border-radius: 50%;
    border: 1px solid #E3E3E3;
    background-image: url("../images/arrow.svg");
    background-position: 22px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: #FFF;
    z-index: 995;
}

.container .vulnerability .navigation li a {
    position: relative;
    height: 100%;
    padding: 40px 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #000;
    background-color: #FFF;
}

.container .vulnerability .navigation li a:hover {
    background-color: #E7E7E7;
}

.container .vulnerability .navigation li a.active {
    font-weight: bold;
    background-color: #D9D9D9;
}

.container article.error,
.container .vulnerability article {
    border: 1px solid #E3E3E3;
    background-color: #FFF;
}

.container .vulnerability article {
    height: calc(100dvh - 309px);
}

.container article.error,
.container .vulnerability article section {
    padding: 20px;
}

.container .vulnerability article section section {
    padding: 0;
}

.container .vulnerability article section section:not(:last-child) {
    margin-bottom: 20px;
}

.container .vulnerability article:not(:has(> .table)) section:not(:last-child) {
    padding-bottom: 0;
}

.container .vulnerability article .split {
    display: -webkit-box;
    display: flex;
}

.container .vulnerability article .split > * {
    width: 50%;
}

.container .vulnerability article .split > *:first-child {
    border-right: 1px solid #E3E3E3;
}

.container .vulnerability article > .split,
.container .vulnerability article > .split > * {
    height: 100%;
}

.container .vulnerability article:not(:has(> .split)),
.container .vulnerability article > .split > * {
    overflow-x: hidden;
    overflow-y: auto;
}

.container .vulnerability article > .split > form:has(> footer) {
    overflow-y: hidden;
}

.container .vulnerability article .table > .row:not(:last-child) {
    border-bottom: 1px solid #E3E3E3;
}

.container .vulnerability article .table > .row section:not(:last-child) {
    padding-bottom: 0;
}

.container .vulnerability article .table > .row.split > section {
    padding-bottom: 20px;
}

.container .vulnerability article form:not(:has(> footer)) {
    padding: 20px;
}

.container .vulnerability article form:has(> footer) {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container .vulnerability article form:has(> footer) > div {
    height: calc(100% - 61px);
    overflow-x: hidden;
    overflow-y: auto;
}

.container .vulnerability article form:has(> footer) > div:not(.table) {
    padding: 20px;
}

.container .vulnerability article form .form-group:not(:last-child) {
    margin-bottom: 15px;
}

.container .vulnerability article form .form-group label {
    margin-bottom: 5px;
    display: inline-block;
}

.container .vulnerability article form .form-group .form-control {
    height: 38px;
    width: 100%;
    padding: 6px 12px;
    display: block;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    border: 2px solid #E3E3E3;
}

.container .vulnerability article form .form-group .form-control::placeholder {
    opacity: 1;
    color: #959595;
}

.container .vulnerability article form .form-group .form-control:-ms-input-placeholder {
    opacity: 1;
    color: #959595;
}

.container .vulnerability article form .form-group .alert {
    padding: 6px 12px;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 3px;
}

.container .vulnerability article form .form-group .alert.alert-success {
    color: #059C0F;
    background-color: #D4EDDA;
}

.container .vulnerability article form .form-group .alert.alert-danger {
    color: #E30513;
    background-color: #F8D7DA;
}

.container .vulnerability article form .form-group .form-control.invalid {
    border-color: #E30513;
}

.container .vulnerability article form .form-group textarea.form-control {
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
}

.container .vulnerability article form footer {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
}

.container .vulnerability article .identity {
    max-width: 400px;
    border-radius: 6px;
    border: 1px solid #E3E3E3;
}

.container .vulnerability article .identity header {
    padding: 16px;
    display: -webkit-box;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background-image: url("../images/identity/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container .vulnerability article .identity header img {
    height: 40px;
    width: 80px;
}

.container .vulnerability article .identity > .validity {
    padding: 8px;
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    background-color: #FFC103;
}

.container .vulnerability article .identity > div {
    padding: 16px 16px 10px;
    text-align: center;
}

.container .vulnerability article .identity > div .image {
    width: 140px;
    margin-bottom: 16px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
}

.container .vulnerability article .identity > div .firstname,
.container .vulnerability article .identity > div .lastname {
    font-size: 17px;
}

.container .vulnerability article .identity > div .firstname {
    margin-bottom: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.container .vulnerability article .identity > div .lastname,
.container .vulnerability article .identity > div .student {
    margin-bottom: 16px;
}

.container .vulnerability article .identity > div .student,
.container .vulnerability article .identity > div .ni {
    font-size: 15px;
}

.container .vulnerability article .identity > div .ni {
    margin-bottom: 8px;
}

.container .vulnerability article .identity > div .code {
    height: 50px;
    width: 288px;
}

.container .vulnerability article .border {
    padding: 5px;
    text-align: center;
    border: 1px solid #E3E3E3;
}

@media print {
    .container {
        position: relative;
        top: 1px;
        left: 0;
        height: auto;
        width: auto;
    }

    .container:not(:has(> .vulnerability)) {
        overflow: visible;
    }

    .container article :not(pre) > code[class*="language-"],
    .container article pre[class*="language-"] {
        border-color: #000;
    }

    .container article .list li::before {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    .container .vulnerability {
        display: block;
    }

    .container .vulnerability .navigation {
        border-color: #000;
    }

    .container .vulnerability .navigation li:not(:last-child) {
        border-color: #000;
    }

    .container .vulnerability .navigation li:not(:last-child)::after {
        top: calc(50% - 25px);
        right: -25px;
        height: 50px;
        width: 50px;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        border-color: #000;
        background-position: 18px;
        background-size: 14px;
    }

    .container .vulnerability .navigation li a {
        padding-left: 25px;
        padding-right: 25px;
    }

    .container .vulnerability .navigation li a.active {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        background-color: #E7E7E7;
    }

    .container article.error,
    .container .vulnerability article {
        border-color: #000;
    }

    .container .vulnerability article {
        height: auto;
    }

    .container .vulnerability article .split > *:first-child {
        border-color: #000;
    }

    .container .vulnerability article > .split,
    .container .vulnerability article > .split > * {
        height: auto;
    }

    .container .vulnerability article:not(:has(> .split)),
    .container .vulnerability article > .split > *,
    .container .vulnerability article > .split > form:has(> footer) {
        overflow: visible;
    }

    .container .vulnerability article .table > .row:not(:last-child) {
        border-color: #000;
    }

    .container .vulnerability article form:has(> footer) {
        height: auto;
        display: block;
    }

    .container .vulnerability article form:has(> footer) > div {
        height: auto;
        overflow: visible;
    }

    .container .vulnerability article form .form-group .form-control {
        border: 1px solid #000;
    }

    .container .vulnerability article form .form-group .alert-success {
        border: 1px solid #059C0F;
    }

    .container .vulnerability article form .form-group .alert-danger {
        border: 1px solid #E30513;
    }

    .container .vulnerability article form .form-group .form-control.invalid {
        border-color: #000;
    }

    .container .vulnerability article form .form-group textarea.form-control {
        height: auto !important;
    }

    .container .vulnerability article .identity {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        border-color: #000;
    }

    .container .vulnerability article .identity > div .image {
        border-color: #000;
    }

    .container .vulnerability article .border {
        border-color: #000;
    }
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100vw - 270px);
    padding: 20px;
    border-top: 1px solid #E3E3E3;
    background-color: #FFF;
}

@media print {
    footer {
        position: relative;
        width: auto;
        border-color: #000;
    }
}
